<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
здесь будет что та

{% for coord in coords %}
<div>
<h3>Название: {{ coord.metroname }}</h3>
<p>Долгота: {{ coord.longitude }}</p>
<p>Широта: {{ coord.latitude }}</p>
------------------------
</div>
{% endfor %}



</body>
</html>