{% extends 'barmetro/base.html' %}

{% block content %}

    {% for coord in coords %}
        <div>
        <h3>Название: <a href="{% url 'page_metro' pk=coord.pk %}">{{ coord.metroname }}</a></h3>

        ------------------------
        </div>
    {% endfor %}

    {% for coord_bar in coords_for_bar %}
        <div>
        <h3>Название: <a href="{% url 'page_bar' pk=coord_bar.pk %}">{{ coord_bar.barname }}</a></h3>

        ------------------------
        </div>
    {% endfor %}


{% endblock content %}