{% extends 'barmetro/base.html' %}

{% block content %}

    <br> <br> <br>

{#    <div class="row">#}
{#        <div class="col-xs-2">#}
{#            #}
{##}
{##}
{#                {% for coord in coords %}#}
{#        сдедать цикл для селекта, сделать форму, вставить csrf_token#}
{#        <option value="1" style="color: yellow;">Авиамоторная</option>#}



{#        for metro in metro_station#}
{#            metro.id metro.metroname metro.color#}
{#        <option value="{{ metro.id }}" style="color:{{ metro.color }};">{{ metro.metroname }}</option>#}




{#                <option>#}
{#                {{ coord.metroname }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}


    <form action="/result/" method="post" class="form-signin" role="form">

    {% csrf_token %}

     <select name="metro_station">
        {% for metro in metro_station %}

        <option value="{{ metro.id }}" style="color:{{ metro.color }}; font-size: medium; font-weight: bold">{{ metro }}</option>

        {% endfor %}
     </select>


       <input type="submit" value="OK">

    </form>




{#    <form action="/result/" method="post" class="form-signin" role="form">#}
{#    {% csrf_token %}#}
{##}
{#        {% for metro1 in form_choice_metro %}#}
{#        {{ metro1 }}#}
{#        {% endfor %}#}
{##}
{#        <input type="submit" value="OK">#}
{#    </form>#}


{#          {{ metro.label_tag }}#}
{#            {{ metro }}#}
{#        <button type="submit" class="btn btn-default">Поиск</button>#}
{#    </div>#}



{#    <div class="row">#}
{#        <div class="col-md-9 col-md-push-3">#}
{##}
{#        </div>#}
{##}
{#        <div class="col-md-3 col-md-pull-9">#}
{#            {% for coord_bar in coords_for_bar %}#}
{#            <h3>Название: <a href="{% url 'page_bar' pk=coord_bar.pk %}">#}
{#                {{ coord_bar.barname }}</a></h3>#}
{#            {% endfor %}#}
{#        </div>#}
{##}
{#    </div>#}


{% endblock content %}